body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFDAB9; /* Light peach background */
    margin: 0;
    padding: 0;
}
/* Product Image Styles */
.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* Magnified Image Style on Hover */
.product-card:hover .product-image {
    transform: scale(1.1); /* Increase the scale for magnification */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

form {
    display: inline;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

