<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsnIAgIqyBcN1FBbJXaRq59fjHYsizej3Lsg&s" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Meraki Handmade</title>
</head>
<body>
<header>
    <div class="header-content">
        <div class="logo">
            <img src="static\images\logo.jpeg" alt="Your Image">
        </div>
        <h1>Meraki Handmade</h1>
    </div>
</header>

<nav>
    <ul class="nav-links">
        {% if 'user_id' in session %}
            {% if session['is_admin'] %}
                <a href="{{ url_for('user_home') }}">Home</a>
            {% else %}
                <li class="dropdown">
                    <a href='user_home' class="dropbtn">Home</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user_home') }}">User Home</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#brand-story">Our Story</a></li>
                        <!-- add more submenu items here -->
                    </ul>
                </li>
            {% endif %}
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
        {% if not session['is_admin'] %}
            <li><a href="{{ url_for('products') }}">Products</a></li>
        {% endif %}
        <!-- Add more links here as needed -->
        {% if 'user_id' in session %}
            {% if session['is_admin'] %}
                <li><a href="{{ url_for('add_product') }}">Add Product</a></li>
            {% else %}
                <li><a href="{{ url_for('cart') }}">Cart</a></li>
                <li><a href="{{ url_for('payment') }}">Payment</a></li>
            {% endif %}
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>

{% block content %}
{% endblock %}

<footer>
    <div class="footer-links">
        <a href="products.html">Shop</a>
        <a href="#about-us">About Us</a>
        <a href="contact.html">Customer Service</a>
    </div>
    <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-pinterest-p"></i></a>
    </div>
    <div class="contact-info">
        <p>Email: niveditha_yesh@yahoo.com</p>
        <p>Phone: +91 98453 79212</p>
    </div>
</footer>
</body>
</html>
