{% extends 'base.html' %}

{% block content %}
<h2>Your Cart</h2>
<ul>
    {% for item in cart_items %}
    {% if item.quantity >= 1 %}
        <li>
            {% if item.image %}
                <img src="{{ url_for('static', filename='images/' + item.image) }}" alt="{{ item.name }}" style="width: 100px;">
            {% else %}
                No Image Available
            {% endif %}
            <div>
                <p><strong>Name:</strong> {{ item.name }}</p>
                <p><strong>Category:</strong> {{ item.category }}</p>
                <p><strong>Price:</strong> {{ item.price }} Rupees</p>
                <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                <p><strong>Total:</strong> ${{ item.price * item.quantity }}</p>
                <p><strong>Available Quantity:</strong> {{ item.available_quantity }}</p>
            </div>
            <form action="{{ url_for('remove_from_cart', product_id=item.id) }}" method="post">
                <button type="submit" value="remove">Remove</button>
            </form>
        </li>
    {% endif %}
    {% endfor %}
</ul>
<p>Total: ${{ total }}</p>
{% endblock %}
